@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.merienda{
    font-family:'Merienda', cursive;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.background{
    width: 100%;
    height: calc(100vh - 152px);
    background:linear-gradient(
        180deg
        ,transparent 27%,rgba(41, 231, 214, 1)),radial-gradient(farthest-corner,transparent 0,rgba(41, 231, 214, 1) 100%),url('/assets/images/background.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    overflow-y: hidden;
    background-blend-mode: multiply;
}

.text-color{
    color:#d3d3d3;
}

.logo{
    width: 200px;
    height: 200px;
}

.text-color-gray{
    color:#B7BDC4;
}

.text-color-white{
    color:#fff;
}

.center{
    display:flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    .center {
      justify-content: center;
    }
  }