.background{
    width: 100%;
    height: 100vh;
    background:linear-gradient(
        180deg
        ,transparent 27%,rgba(41, 231, 214, 1)),radial-gradient(farthest-corner,transparent 0,rgba(41, 231, 214, 1) 100%),url('/assets/images/background.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    overflow-y: hidden;
    background-blend-mode: multiply;
}

.text-color{
    color:#BABDC4;
}