<div class="d-flex justify-content-start align-items-center background text-color ml-20">
    <div class="container">
            <div class="row">
                <div class="col-sm-8">
                     <p class="text-color-gray">Welcome to</p> 
                     <h1 class="text-color">Sogno</h1>   
                     <p class="text-color-white">Sogno was created to give you a remarkable experience in different unique locations all over the world, where dreams are born and time is never planned.</p>
                </div>
    
                
                <div class="col-sm-4">
                    <img class="logo" src="assets/images/logo.png" alt="Logo">
                </div>

            </div>
    </div>
</div>