.navbar-gray{
    background: #15181D;
}

.navbar-grayer{
    background: #000;
}



.text-color{
    color:#BABDC4;
}

.position-center{
    justify-content: center !important;
}

.p-0{
    padding: 0;
}

.text-color-gray{
    color:#B7BDC4;
}

.text-color-white{
    color:#fff;
}

.footer-gray{
    background: #15181D;
}

// Merienda