<div class="container-fluid p-0">
    <nav class="navbar navbar-grayer navbar-expand-md  position-center">     
          <ul class="nav">
            <li>
              <a class="nav-link text-color" href="https://www.instagram.com/sognomusic.ro/" target="_blank">Facebook</a>
            </li>
            <li>
              <a class="nav-link text-color" href="https://www.facebook.com/sognomusic" target="_blank">Instagram</a>
            </li>
            <li>
              <a class="nav-link text-color" href="https://www.youtube.com/channel/UCenrHwE3KQm7XZ0kAfyjqrw" target="_blank">Youtube</a>
            </li>
          </ul>
      </nav>
</div>

<div class="container p-0">
  <nav class="navbar navbar-expand-md navbar-gray text-color">
    <a href="/" class="navbar-brand text-color">Sogno - Art Creators</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapsse"
      data-bs-target="#toggleMobileMenu"
      aria-controls="toggleMobileMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggleMobileMenu">
      <ul class="navbar-nav ms-auto text-center">
        <li>
          <a class="nav-link text-color" href="#">Home</a>
        </li>
        <li>
          <a class="nav-link text-color" href="#">Events</a>
        </li>
        <li>
          <a class="nav-link text-color" href="#">Contact</a>
        </li>
        <li>
          <a class="nav-link text-color"  href="https://www.youtube.com/channel/UCenrHwE3KQm7XZ0kAfyjqrw" target="_blank">Our Videos</a>
        </li>
      </ul>
    </div>
  </nav>
</div>


<app-home></app-home>


<footer class="text-center text-lg-start navbar-grayer">
  <!-- Copyright -->
  <div class="text-center p-3  text-color">
    © 2021 Copyright:
    <a class="text-dark text-color-white">Sogno </a>
  </div>
  <!-- Copyright -->
</footer>