<div class="container-fluid center background-black ">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
        <div class="card h-100">
            <img src="assets/images/valeaoltului.png" class="card-img-top" alt="First Event">
            <div class="card-body">
            <h5 class="card-title merienda">Malaia Lake, Catalin Sima</h5>
            <p class="card-text montserrat"><strong>Catalin Sima</strong> is an international DJ and Producer.His passion for electronic music started back in 2012, but in late March 2019 he started producing music and began collaboration with a lot of international artists.He is using Tech-House, Deep-House, House and Minimal to provide his energetic sets along his schedule.
            </p>
            </div>
            <div class="card-footer text-center">
                <a href="https://youtu.be/ivoYWV5T20g" target="_blank" class="btn btn-primary background-green hover-effect">View the event</a>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card h-100">
            <img src="assets/images/castelulcorvinilor.png" class="card-img-top" alt="Second Event">
            <div class="card-body">
            <h5 class="card-title merienda">Corvin`s Castle, Nusha</h5>
            <p class="card-text montserrat"><strong>Nusha</strong> is an international DJ that started back in 2007, but she has been into the music since she was very young.She has shared stages across the world with several well-known techno legends and played some of the greatest techno festivals. She has a lot of experience and she has developed her own signature sound which never seems to fail!</p>
            </div>
            <div class="card-footer text-center">
                <a href="https://youtu.be/IuF8s_Vh6ck" target="_blank" class="btn btn-primary background-green hover-effect">View the event</a>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card h-100">
            <img src="assets/images/comingsoon3.png" class="card-img-top" alt="Third Event">
            <div class="card-body">
            <h5 class="card-title merienda">More Details coming soon...</h5>
            <p class="card-text montserrat">Stay tuned.</p>
            </div>
            <div class="card-footer text-center">
                <a href="https://www.youtube.com/channel/UCenrHwE3KQm7XZ0kAfyjqrw" target="_blank" class="btn btn-primary background-green hover-effect">View the event</a>
            </div>
        </div>
        </div>
    </div>
</div>