.center{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-black{
    background-color: #000;
}

.background-green{
    background-color: #000;
    border-color: rgba(41, 231, 214, 1);
}

.hover-effect:hover{
    color:rgba(41, 231, 214, 1);
    transition: 0.5s ease-in;
}