<div class="container-fluid center background-black ">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
        <div class="card h-100">
            <img src="assets/images/valeaoltului.png" class="card-img-top" alt="First Event">
            <div class="card-body">
            <h5 class="card-title">Malaia Lake, Catalin Sima</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer text-center">
                <a href="https://youtu.be/ivoYWV5T20g" target="_blank" class="btn btn-primary background-green">View the event</a>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card h-100">
            <img src="assets/images/castelulcorvinilor.png" class="card-img-top" alt="Second Event">
            <div class="card-body">
            <h5 class="card-title">Corvin`s Castle, Nusha</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-center">
                <a href="https://youtu.be/IuF8s_Vh6ck" target="_blank" class="btn btn-primary background-green">View the event</a>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card h-100">
            <img src="assets/images/castelulcorvinilor2.png" class="card-img-top" alt="Third Event">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" target="_blank" class="btn btn-primary background-green">View the event</a>
            </div>
        </div>
        </div>
    </div>
</div>